button {
  all: unset;
}

.dropDownBlock {
  display: flex;
  justify-content: flex-end;
}

.dropdownMenuContent {
  will-change: transform, opacity;

  padding: 0.75rem;

  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-100);
  border-radius: 0.25rem;
  box-shadow:
    0 10px 38px -10px rgb(22 23 24 / 35%),
    0 10px 20px -15px rgb(22 23 24 / 20%);

  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.DropdownMenuContent[data-side='top'],
.DropdownMenuSubContent[data-side='top'] {
  animation-name: slideDownAndFade;
}

.DropdownMenuContent[data-side='right'],
.DropdownMenuSubContent[data-side='right'] {
  animation-name: slideLeftAndFade;
}

.DropdownMenuContent[data-side='bottom'],
.DropdownMenuSubContent[data-side='bottom'] {
  animation-name: slideUpAndFade;
}

.DropdownMenuContent[data-side='left'],
.DropdownMenuSubContent[data-side='left'] {
  animation-name: slideRightAndFade;
}

.dropdownMenuItem {
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  font-size: 13px;
  line-height: 1;
  color: violet;

  border-radius: 3px;
  outline: none;
}

.DropdownMenuSubTrigger[data-state='open'] {
  color: violet;
  background-color: violet;
}

.dropdownMenuItem[data-disabled],
.DropdownMenuCheckboxItem[data-disabled],
.DropdownMenuRadioItem[data-disabled],
.DropdownMenuSubTrigger[data-disabled] {
  pointer-events: none;
  color: goldenrod;
}

.dropdownMenuItem[data-highlighted],
.DropdownMenuCheckboxItem[data-highlighted],
.DropdownMenuRadioItem[data-highlighted],
.DropdownMenuSubTrigger[data-highlighted] {
  color: palevioletred;
  background-color: violet;
}

.DropdownMenuLabel {
  padding-left: 25px;
  font-size: 12px;
  line-height: 25px;
  color: #22e584;
}

.dropdownMenuSeparator {
  height: 1px;
  margin: 5px;
  background-color: var(--color-dark-100);
}

.DropdownMenuItemIndicator {
  position: absolute;
  left: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 25px;
}

.dropdownMenuArrow {
  position: relative;
  width: 14px;
  fill: var(--color-dark-500);

  path {
    stroke: #0a6638;
  }
}

.iconButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 2.25rem;
  height: 2.25rem;

  border-radius: 100%;
  box-shadow: 0 2px 10px white;
}

.iconButton:hover {
  box-shadow: 0 2px 10px greenyellow;
}

.iconButton:focus {
  box-shadow: 0 0 0 2px chocolate;
}

.RightSlot {
  margin-left: auto;
  padding-left: 20px;
  color: skyblue;
}

[data-highlighted] > .RightSlot {
  color: white;
}

[data-disabled] .RightSlot {
  color: yellow;
}
